/*Global*/

body {
    background-color: #f4f4f4;
    margin: 0;
}

body p {
    font-size: 17px;
    font-family: Helvetica, 'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 1;
}

#header-img {
    max-width: 100px;
    display: flex;
}

#nav-bar {
    width: 100%;
    background-color: #F2F0F1;
}

#nav-bar a {
    float: right;
    padding: 20px;
    text-decoration: none;
    color: black;
}

#nav-bar li {
    list-style: none;
}

#showcase {
    margin-top: 140px;
    margin-bottom: 40px;
    text-align: center;
}

#showcase h1 {
    font-size: 35px;
}

#showcase hr {
     width: 400px;
}

#features {
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
}

#features i {
    filter: drop-shadow(1px 1px 1px black);
}

.fun,
.easy,
.delivery {
    display: flex;
    margin: auto;
    padding: 10px;
}

.fun p,
.easy p,
.delivery p {
    padding-left: 20px;
    text-align: left;
}

#how-it-works {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    background-color: white;
    align-items: center;
    border: 1px solid black;
    padding: 40px 0;
}

iframe {
    max-width: 500px;
    width: 100%;
    padding: 20px;

}

#pricing {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.product-container {
    display: flex;
}

.pricingHeading {
    text-align: center;
    padding: 30px 0;
}

#pricing .pricingHeading h2 {
    font-size: 30px;
}

.h2-container {
    min-height: 80px;
}

.prod_desc {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.cost {
    font-size: 25px;
}

#form {
    min-height: 200px;
    background-color: white;
    text-align: center;
    padding-top: 40px;
    margin-top: 20px;
}

#email {
    line-height: 20px;
    width: 500px;
}

#email {
    min-width: 300px;
}

#submit {
    margin-top: 20px;
    padding: 10px;
}

/* Media queries */
@media (max-width: 500px) {
    
}