/*Global*/

body {
    background-color: #f4f4f4;
}

header {
    background-color: red;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

#header-img {
    max-width: 90px;
    display: flex;
}

/* #nav-bar {
    float: right;
} */

#showcase {
    margin-top: 120px;
    background-color: white;
}

#features {
    width: 100%;
    background-color: yellow;
    padding-bottom: 40px;
}

.fun,
.delivery,
.easy {
    display: block;
    padding-top: 10px;
}

#how-it-works {
    display: flex;
    justify-content: center;
    background-color: blue;
}

iframe {
    max-width: 500px;
    width: 100%;
}

.product-container {
    display: flex;
}

.pricingHeading {
    background-color: green;
    text-align: center;
}

.h2-container {
    min-height: 80px;
}

.prod_desc {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
}

.cost {
    font-size: 25px;
}

/* Media queries */
@media (max-width: 500px) {
    
}